<div class="cont">
  <h1>Score Checker</h1><hr>
    <form action="http://localhost:5000/" method="POST">
<div class="">
<label for="query1"><h5>Senior Citizen</h5></label>
<p>
<input  type="radio" name="query1" id="1">Yes</input>
<input type="radio" name="query1" id="0" >No</input>

</p>
</div>
<div class="md-3">
<label for="query2"><h5>MonthlyCharges</h5></label><br>
<textarea class="" rows="1" id="query2" name="query2" rows="1" cols="10" >Enter here..</textarea>
</div>
<div class="md-3">
<label for="query3"><h5>TotalCharges</h5></label><br>
<textarea class="" rows="1" id="query3" name="query3" rows="1" cols="10" >Enter here..</textarea>
</div>
<div class="mb-3">
<label for="query4"><h5>Gender</h5></label>
<p>
<input type="radio" name="query4"  id="Male" >Male</input>

<input type="radio" name="query4" id="Female">Female</input>
</p>
</div>
<div class="mb-3">
<label for="query5"><h5>Partner</h5></label>
<p>
<input type="radio" name="query5" id="Yes" >Yes</input>

<input type="radio" name="query5" id="No">No</input>
</p>
</div>

<div class="mb-3">
<label for="query6"><h5>Dependent</h5></label>
<p>
<input type="radio" name="query6"  id="Yes" >Yes</input>

<input type="radio" name="query6" id="No">No</input>
</p>
</div>

<div class="mb-3">
<label for="query7"><h5>Phone Service</h5></label>
<p>
<input type="radio" name="query7" id="Yes" >Yes</input>

<input type="radio" name="query7" id="No">No</input>
</p>
</div>



<div class="mb-3">
<label for="query8"><h5>Multiple lines</h5></label>
<p>
<input type="radio" name="query8" id="Yes" >Yes</input>

<input type="radio" name="query8" id="No">No</input>
</p>
</div>
<div class="mb-3">
<label for="query9"><h5>InternetService</h5></label>
<select id="InternetService" name="query9"><br>
  <option value="DSL">DSL</option>
  <option value="Fiber optic">Fiber optic</option>
  <option value="No">No </option>
</select>
</div>

<div class="mb-3">
<label for="query10"><h5>Online Security</h5></label>
<p>
<input type="radio" name="query10" id="Yes">Yes</input>

<input type="radio" name="query10" id="No">No</input>
</p>
</div>

<div class="mb-3">
<label for="query11"><h5>Online Backup</h5></label>
<p>
<input type="radio" name="query11" id="Yes" >Yes</input>

<input type="radio" name="query11" id="No">No</input>
</p>
</div>

<div class="mb-3">
<label for="query12"><h5>Device Protection</h5></label>
<p>
<input type="radio" name="query12" id="Yes">Yes</input>

<input type="radio" name="query12" id="No">No</input>
</p>
</div>

<div class="mb-3">
<label for="query13"><h5>Tech Support</h5></label>
<p>
<input type="radio" name="query13" id="Yes" >Yes</input>

<input type="radio" name="query13" id="No">No</input>
</p>
</div>



<div class="mb-3">
<label for="query14"><h5>Streaming Tv</h5></label>
<p>
<input type="radio" name="query14" id="Yes">Yes</input>

<input type="radio" name="query14" id="No">No</input>
</p>
</div>
<div class="mb-3">
<label for="query15"><h5>Streaming Movies</h5></label>
<p>
<input type="radio" name="query15" id="Yes">Yes</input>

<input type="radio" name="query15" id="No">No</input>
</p>
</div>
<div class="mb-3">
<label for="query16"><h5>Contract</h5></label>
<select id="Contract" name="query16"><br>
<option value="Month-to-month">Month-to-month</option>
<option value="One year">One year</option>
<option value="Two year">Two year </option>
</select>
</div>
<div class="mb-3">
<label for="query17"><h5>Paperless Billing</h5> </label>
<p>
<input type="radio" name="query17" id="Yes">Yes</input>
 
<input type="radio" name="query17">No</input>
</p>
</div>
<div class="mb-3">
<label for="query18"><h5>Payment Method</h5></label>
<select id="query18" name="query18"><br>
<option value="Electronic check">Electronic check</option>
<option value="Bank transfer (automatic)">Bank transfer</option>
<option value="Credit card (automatic)">Credit card </option>
<option value="Mailed check">Mailed check </option>
</select>
</div>
<div class="">
<label for="query19"><h5>Tenure</h5></label><br>
<textarea class="" rows="1" id="query2" name="query19" rows="1" cols="10" >Enter here..</textarea>
</div>
<button type="submit" class="btn btn-primary" name="submit">SUBMIT</button>

<br><br><br><br><br><br>
</form>